
<div class="col-md-4" pul>
  <!-- <app-page-header [heading]="'Tables'" [icon]="'fa-table'"></app-page-header> -->
  <div class="row">
      <div class="col col-xl-12 col-lg-12">
          <div class="card mb-3">
              <div class="card-header">Users List</div>
              <div class="card-body table-responsive">
                  <table class="table table-hover table-striped">
                      <tbody>
                      <tr *ngFor="let user of users; let i=index;">                         
                          <td>{{user.email}}</td>                         
                      </tr>
                      </tbody>
                  </table>
              </div>
          </div>
      </div>
  </div>
</div>